@page
@model Back_Office_Web_Application.Pages.EmployeesList.DetailsModel

@{
    ViewData["Title"] = String.Format("Сотрудник №{0}", Html.DisplayFor(model => model.UsersEmployees.Id));
}

<h1>Подробности</h1>

<div>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			Фамилия
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UsersEmployees.LastName)
		</dd>
		<dt class="col-sm-2">
			Имя
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UsersEmployees.FirstName)
		</dd>
		<dt class="col-sm-2">
			Отчество
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UsersEmployees.SecondName)
		</dd>
		<dt class="col-sm-2">
			Номер телефона
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UsersEmployees.Phone)
		</dd>
		<dt class="col-sm-2">
			Электронная почта
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UsersEmployees.IdNavigation.Email)
		</dd>
		<dt class="col-sm-2">
			Роль
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UsersEmployees.RoleNavigation.Name)
		</dd>
	</dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.UsersEmployees.Id">Редактировать</a> |
    <a href="#" onclick="history.back()">Назад</a>
</div>
