@page
@model Back_Office_Web_Application.Pages.Stock.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробно</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.ReceiptDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.ReceiptDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.SellDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.SellDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Status.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock.Id">Edit</a> |
    <a href="#" onclick="history.back()">Назад</a>
</div>
