@page
@model Back_Office_Web_Application.Pages.Products.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Product.Name);
}

<h1>Подробно</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Наименование
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.SpecsString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.SpecsString)
        </dd>
        <dt class="col-sm-2">
            Производитель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand.Brand1)
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Product.Id">Редактировать</a> |
    <a href="#" onclick="history.back()">Назад</a>
</div>
