@page
@model Back_Office_Web_Application.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Список товаров";
}

<h1>Список товаров</h1>

    <a class="btn btn-outline-primary" value="Добавить" asp-page="Create" >Добавить</a>
<hr />

<div class="row">
	<form class="form-inline">
		<div class="form-group mx-sm-3 mb-2">
			<input type="text" class="form-control" placeholder="Поиск..." asp-for="SearchString" />
		</div>
		<input type="submit" value="Поиск" class="btn btn-outline-success mb-2" />
	</form>
	
</div>


<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>
					Наименование
				</th>
				<th>
					Цена
				</th>
				<th>
					Описание
				</th>
				<th>
					Производитель
				</th>
				<th>
					Категория
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Product)
			{
				<tr>
					<td>
						<a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Brand.Brand1)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Category.Name)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
						<a asp-page="./Details" asp-route-id="@item.Id">Подробно</a> |
						<a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>